<div id="home">
  <span class="main_title">Welcome to BIPA 1.0 release</span>
  <div id="home_intro" class="blue_link">
    <p>
    BIPA, a database for protein-nucleic acid interaction, provides various features of protein-nuleic acid interfaces. As of <%= Time.now.strftime("%A %d %b %Y") %>, there are <%= link_to "2080", structures_path %> protein-nucleic acid <%= link_to "PDB", "http://www.rcsb.org", :popup => true %> complexes, <%= link_to 6203, scops_path %> <%= link_to "SCOP", "http://scop.mrc-lmb.cam.ac.uk/scop/index.html", :popup => true %> domains, and <%= 6269 %> domain-nucleic acid interfaces in BIPA. BIPA also provides a multiple structural alignment of representative structures at the SCOP family level using the program <%= link_to "BATON", "http://www-cryst.bioc.cam.ac.uk/COMPARER/", :popup => true %>, and the structural alignments were further annotated using the program <%= link_to "JOY", "http://tardis.nibio.go.jp/joy/", :popup => true %> to detect local environments of amino acids. All by all shape similarities among protein-nucleic acid interfaces were calculated using <%= link_to "USR", "http://www.ncbi.nlm.nih.gov/pubmed/17342716", :popup => true %> method, which enables us to navigate similar interfaces across the families.
    </p>
    <p>
    Furthermore, by relating BIPA to our in-house databases such as Double-map and REQUIEM, UniProt annotations and nsSNPs were mapped onto the nucleic acid-binding proteins to provide additional information and potential candidates of mutations which might be affecting protein-nucleic acid interactions.
    </p>
  </div>

  <span class="main_title">Recent News:</span>
  <div id="home_news">
    <ul class="news">
      <% if @latest_news.size > 0 %>
        <% @latest_news.each do |news| %>
        <li>
          <%= news.date %>: <%= news.title %>
        </li>
        <% end %>
      <% else %>
        N/A
      <% end %>
    </ul>
  </div>
</div>

<div id="brief_stats">
  <span class="main_title">Brief Statistics:</span>
  <table class="brief_stats">
    <tr>

      <th class="center">Type</th>
      <th class="center">Count</th>
    </tr>
    <tr>
      <th>Protein-DNA Complexes</th>
      <td>1469</td>
    </tr>

    <tr>
      <th>Protein-RNA Complexes</th>
      <td>651</td>
    </tr>
    <tr>
      <th>DNA-binding SCOP domains</th>
      <td>2946</td>

    </tr>
    <tr>
      <th>RNA-binding SCOP domains</th>
      <td>3323</td>
    </tr>
  </table>

  <table class="brief_stats">

    <tr>
      <th class="center">Property<sup>*</sup></th>
      <th class="center" width="120px">DNA interface</th>
      <th class="center" width="120px">RNA interface</th>
    </tr>
    <tr>
      <th>Average ASA</th>

      <td>
        645.33 &Aring;<sup>2</sup><br />
        (&plusmn; 397.96 &Aring;<sup>2</sup>)
      </td>
      <td>
        1279.27 &Aring;<sup>2</sup><br />

        (&plusmn; 1258.17 &Aring;<sup>2</sup>)
      </td>
    </tr>
    <tr>
      <th>Polarity</th>
      <td>
        0.46
        (&plusmn; 0.13)
      </td>

      <td>
        0.44
        (&plusmn; 0.11)
      </td>
    </tr>
    <tr>
      <th>No. of hydrogen bonds</th>
      <td>
        9.21 
        (&plusmn; 6.64)
      </td>

      <td>
        3.78 
        (&plusmn; 3.99)
      </td>
    </tr>
    <tr>
      <th>No. of water-mediated hydrogen bonds</th>
      <td>
        9.70 
        (&plusmn; 13.49)
      </td>

      <td>
        3.00 
        (&plusmn; 7.79)
      </td>
    </tr>
    <tr>
      <th>No. of van der Waals contacts</th> 
      <td>
        145.46 
        (&plusmn; 211.36)
      </td>

      <td>
        352.83 
        (&plusmn; 527.39)
      </td>
    </tr>
    <caption align="bottom">
      * Properties were calculated from non-redundant sets of protein-nucleic acid interfaces (PID &lt; 80).
    </caption>
  </table>
</div>
