<div id="home">
  <span class="main_title">Home: Welcome to BIPA 1.0 release</span>
  <div id="home_intro" class="blue_link">
    <p>
    BIPA is a comprehensive database for protein-nucleic acid interaction. As of <%= Time.now.strftime("%A %d %b %Y") %>, there are <%= link_to Structure.untainted.count, structures_path %> protein-nucleic acid <%= link_to "PDB", "http://www.rcsb.org" %> complexes and <%= link_to ScopDomain.rpall.count, scops_path %> SCOP domains in BIPA. For each SCOP family level, a representative set of structures is selected and aligned using <%= link_to "BATON", "http://www-cryst.bioc.cam.ac.uk/COMPARER/" %>. Then, environment-specific substitution tables (<%= link_to "ESSTs", "http://www-cryst.bioc.cam.ac.uk/ESST" %>) were generated using <%= link_to "EGOR", "http://www-cryst.bioc.cam.ac.uk/egor" %> with an extended environment feature definition including atomic interactions between amino acids and nucleic acids. <%= link_to "FUGUE", "http://tardis.nibio.go.jp/fugue/" %> profiles are also generated using the extended environment-specific subsitution tables to provide remote homology detection specialized for nucleic acid-binding proteins.
    </p>
  </div>

  <span class="main_title">News:</span>
  <div id="home_news">
    <ul class="news">
      <li>
        Initial Release! (19 November 2008)
      </li>
    </ul>
  </div>

  <span class="main_title">Reference:</span>
  <div id="home_reference">
    <ul>
      <li>
      Semin Lee and Tom L. Blundell, (2008). "BIPA: Biological database for Interaction between Protein and nucleic Acid", <i>Bioinformatics</i>, Vol XXX, pXXX-XXX.
      </li>
    </ul>
  </div>
</div>

<div id="mol_month1">
  <span class="main_title">Molecule of The Month:</span>
  <div id="mol_month2">
    <p>
      Title: <%= link_to @structure.title, structure_path(@structure) %><br />
      PDB Code: <%= @structure.pdb_code %><br />
      Deposited at: <%= @structure.deposited_at %><br />
      <%= image_tag(@structure.local_image_link, :id => "mol_month_img") %> 
    </p>
  </div>
</div>
