<div class="list">
  <%= image_tag structure.local_image_link, :id => "list_figure" %>
  <div class="list_title black_link">
    <%= link_to "#{structure.title}", structure_path(structure) %>
  </div>
  <div class="list_content">
    PDB Code: <%= structure.pdb_code %><br />
    Classification: <%= structure.classification %><br />
    Experiment method: <%= structure.exp_method %><br />
    Resolution: <%= structure.resolution_for_html %><br />
    Release date: <%= structure.deposited_at %><br />
  </div>
</div>
