<div class="list blue_link">
  <div class="small_image">
    <%= link_to image_tag(structure.small_image, :border => 0, :alt => structure.pdb_code), structure_path(structure) %>
  </div>
  <div class="list_title">
    <%= link_to "#{structure.title}", structure_path(structure) %>
  </div>
  <div class="list_content">
    PDB Code: <%= structure.pdb_code %><br />
    Classification: <%= structure.classification %><br />
    Experiment method: <%= structure.exp_method %>,&nbsp;
    Resolution: <%= structure.resolution_for_html %><br />
    Release date: <%= structure.deposited_at %><br />
  </div>
</div>
