<div class="main_title blue_link">
  <%= link_to @structure.pdb_code, @structure.rcsb_html_link, :popup => true %>
</div>

<table id="structure_table" class="bipa">
  <tr>
    <td class="title">Title</td>
    <td colspan=6><%=h @structure.title %></td>
    <td colspan=2 rowspan=5 style="width:280px" align="center">
      <%= link_to image_tag(@structure.big_image, :width => 250, :border => 0), "#big_image_box", :id => "big_image_box_link" %><br />
      3D View: <%= link_to "Jmol", jmol_structure_path %>
    </td>
  </tr>
  <tr>
    <td class="title">Citation</td>
    <td colspan=6>
      <%=h @structure.citation %><br />
      [<a href="#abstract" id="abstract_link">Abstract</a>]
      [<%= link_to "PubMed", @structure.pubmed_link, :popup => true %>]
    </td>
  </tr>
  <tr>
    <td class="title">History</td>
    <td colspan=6>
      Deposition: <%=h @structure.deposited_at %>
    </td>
  </tr>
  <tr>
    <td class="title">Experimental Method</td>
    <td colspan=6><%=h @structure.exp_method %>
      <% if @structure.resolution %>
        , Resolution: <%= @structure.resolution %> &Aring;
      <% end %>
    </td>
  </tr>
  <tr>
    <td class="title">Classification</td>
    <td colspan=6><%=h @structure.classification %></td>
  </tr>
  <tr class="title">
    <td rowspan=<%= @structure.domains.empty? ? 2 : @structure.domains.count + 1 %>>SCOP<br />Classification</td>
    <td class="title_center">Interface to</td>
    <td class="title_center">Domain</td>
    <td class="title_center">Species</td>
    <td class="title_center">Protein</td>
    <td class="title_center">Family</td>
    <td class="title_center">Superfamily</td>
    <td class="title_center">Fold</td>
    <td class="title_center">Class</td>
  </tr>
  <% if @structure.domains.size > 0 %>
    <% @structure.domains.each do |domain| %>
      <tr>
        <td align="center">
          <% if domain.dna_interface %>
            <%= link_to "DNA", interface_path(domain.dna_interface) %>
          <% end %>
          <% if domain.rna_interface %>
            <%= link_to "RNA", interface_path(domain.rna_interface) %>
          <% end %>
          <% if !domain.dna_interface && !domain.rna_interface %>
            N/A
          <% end %>
        </td>
        <td align="center">
          <% if domain.registered? %>
            <%= link_to domain.sid, scop_path(domain) %>
          <% else %>
            <%= domain.sid %>
          <% end %>
        </td>
        <td align="center">
          <% if domain.registered? %>
            <%= link_to domain.scop_species.description, scop_path(domain.scop_species) %>
          <% else %>
            <%= domain.scop_species.description %>
          <% end %>
        </td>
        <td align="center">
          <% if domain.scop_protein.registered? %>
            <%= link_to domain.scop_protein.description, scop_path(domain.scop_protein) %>
          <% else %>
            <%= domain.scop_protein.description %>
          <% end %>
        </td>
        <td align="center">
          <% if domain.scop_family.registered? %>
            <%= link_to domain.scop_family.description, scop_path(domain.scop_family) %>
          <% else %>
            <%= domain.scop_family.description %>
          <% end %>
        </td>
        <td align="center">
          <% if domain.scop_superfamily.registered? %>
            <%= link_to domain.scop_superfamily.description, scop_path(domain.scop_superfamily) %>
          <% else %>
            <%= domain.scop_superfamily.description %>
          <% end %>
        </td>
        <td align="center">
          <% if domain.scop_fold.registered? %>
            <%= link_to domain.scop_fold.description, scop_path(domain.scop_fold) %>
          <% else %>
            <%= domain.scop_fold.description %>
          <% end %>
        </td>
        <td align="center">
          <% if domain.scop_class.registered? %>
            <%= link_to domain.scop_class.description, scop_path(domain.scop_class) %>
          <% else %>
            <%= domain.scop_class.description %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan=8 align="center">
        N/A [<%= link_to "?", "#scop_na_box", :id => "scop_na_box_link" %>]<br />
        <div id="scop_na_box">
          Current SCOP release, <%= Scop.version %> presumably does NOT classify the structure, <%= @structure.pdb_code %> at the moment. Otherwise, there might be an error in the relation between SCOP entity and PDB structure entity of BIPA, please <%= link_to "report us", :controller => "main", :action => "contact" %> if you think this is the case.
        </div>
      </td>
    </tr>
  <% end %>
  <tr class="title">
    <td rowspan=<%= @structure.aa_chains.size + 1 %>>
      Structural and Functional Restraints
    </td>
    <td class="title_center">Polymer</td>
    <td class="title_center" colspan=7>Sequence &amp; Restraints</td>
  </tr>
  <% @structure.aa_chains.each do |chain| %>
    <tr>
      <td><%= chain.chain_code %></td> 
      <td colspan=7 class="alignment">
        <div class="sequence"> 
          <%= chain.ruler_with_margin %><br />
          <%= chain.cssed_sequence ? chain.cssed_sequence : chain.formatted_sequence %>
        <div>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan=9>
      <table class="joy_annotation" align="center">
        <tr>
          <td colspan=3><b>Key for HTML output</b></td>
        </tr>
        <tr>
          <td>alpha helix</td>
          <td><span class="helix">red</span></td>
          <td><span class="helix">x</span></td>
        </tr>
        <tr>
          <td>beta sheet</td>
          <td><span class="beta_sheet">blue</span></td>
          <td><span class="beta_sheet">x</span></td>
        </tr>
        <tr>
          <td>positive phi</td>
          <td><span class="positive_phi">italic</span></td>
          <td><span class="positive_phi">x</span></td>
        </tr>
        <tr>
          <td>solvent accessible</td>
          <td><span class="on_surface">upper case</span></td>
          <td><span class="on_surface">x</span></td>
        </tr>
        <tr>
          <td>solvent inaccessible</td>
          <td><span class="buried">lower case</span></td>
          <td><span class="buried">x</span></td>
        </tr>
        <tr>
          <td>disulfide bond</td>
          <td><span class="disulfide">cedilla</span></td>
          <td><span class="disulfide">&ccedil;</span></td>
        </tr>
        <tr>
          <td>hydrogen bond to DNA</td>
          <td><span class="hbonding_dna">orange background &amp; bold</span></td>
          <td><span class="hbonding_dna">x</span></td>
        </tr>
        <tr>
          <td>water-mediated hydrogen bond to DNA</td>
          <td><span class="whbonding_dna">orange background &amp; overline</span></td>
          <td><span class="whbonding_dna">x</span></td>
        </tr>
        <tr>
          <td>van der Waals contact to DNA</td>
          <td><span class="vdw_contacting_dna">orange background &amp; underline</span></td>
          <td><span class="vdw_contacting_dna">x</span></td>
        </tr>
        <tr>
          <td>hydrogen bond to RNA</td>
          <td><span class="hbonding_rna">cyan background &amp; bold</span></td>
          <td><span class="hbonding_rna">x</span></td>
        </tr>
        <tr>
          <td>water-mediated hydrogen bond to RNA</td>
          <td><span class="whbonding_rna">cyan background &amp; overline</span></td>
          <td><span class="whbonding_rna">x</span></td>
        </tr>
        <tr>
          <td>van der Waals contact to RNA</td>
          <td><span class="vdw_contacting_rna">cyan background &amp; underline</span></td>
          <td><span class="vdw_contacting_rna">x</span></td>
        </tr>
        <tr>
          <td>binding to both DNA and RNA</td>
          <td><span class="binding_both">green background &amp; bold</span></td>
          <td><span class="binding_both">x</span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div id="abstract" class="zoomed">
  <%=h @structure.abstract %>
</div>

<div id="big_image_box">
  <%= image_tag @structure.big_image %><br />
  <%= @structure.pdb_code %>
</div>
