<div class="list">
  <div class="list_title">
    &gt; <%= link_to "#{hit.hierarchy}: #{hit.description}", :controller => "scop", :action => "show", :id => hit.id %>
  </div>
  <div class="hit_content">
    (sunid: <%= hit.sunid %>, sccs: <%= hit.sccs %>, 
    <% if hit.type == ScopDomain %>
      sid: <%= hit.sid %>
    <% else %>
      sid: -
    <% end %>
    )
  </div>
  <div class="list_score">
    Search Score: <%= "%.2f" % hit.ferret_score %>
  </div>
</div>
