<div id="main_title">
  <div class="title">
    Browse: SCOP
  </div>
  <div class="search_form">
    <% form_tag("/scops/search", :method => "get", :class => "search_form") do %>
      <%= text_field_tag :query, nil, :size => 30 %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<div id="main_content">
  <table class="stats">
    <thead>
      <tr>
        <th>
          <div class="sorter">
            <%= link_to "&and;", scops_url(:sort => "id") %>
          </div>
          <div class="header">
            ID
          </div>
          <div class="sorter">
            <%= link_to "&or;", scops_url(:sort => "id_reverse") %>
          </div>
        </th>
        <th>
          <div class="sorter">
            <%= link_to "&and;", scops_url(:sort => "stype") %>
          </div>
          <div class="header">
            TYPE
          </div>
          <div class="sorter">
            <%= link_to "&or;", scops_url(:sort => "stype_reverse") %>
          </div>
        </th>
        <th>
          <div class="sorter">
            <%= link_to "&and;", scops_url(:sort => "sunid") %>
          </div>
          <div class="header">
            SUNID
          </div>
          <div class="sorter">
            <%= link_to "&or;", scops_url(:sort => "sunid_reverse") %>
          </div>
        </th>
        <th>
          <div class="sorter">
            <%= link_to "&and;", scops_url(:sort => "sccs") %>
          </div>
          <div class="header">
            SCCS
          </div>
          <div class="sorter">
            <%= link_to "&or;", scops_url(:sort => "sccs_reverse") %>
          </div>
        </th>
        <th>
          <div class="sorter">
            <%= link_to "&and;", scops_url(:sort => "sid") %>
          </div>
          <div class="header">
            SID
          </div>
          <div class="sorter">
            <%= link_to "&or;", scops_url(:sort => "sid_reverse") %>
          </div>
        </th>
        <th>
          <div class="sorter">
            <%= link_to "&and;", scops_url(:sort => "description") %>
          </div>
          <div class="header">
            Description
          </div>
          <div class="sorter">
            <%= link_to "&or;", scops_url(:sort => "description_reverse") %>
          </div>
        </th>
      </tr>
    </thead>
    <tbody id="table_body">
      <%= render :partial => "scop", :collection => @scops %>
    </tbody>
  </table>
  <%= will_paginate @scops %>
</div>
