<div class="list">
  <%= image_tag scop.local_image_link, :id => "list_figure" %>
  <div class="list_title blue_link">
    <%= link_to "#{scop.scop_protein.description}, #{scop.description}", scop_path(scop) %>
  </div>
  <div class="list_content blue_link">
    SCOP sid:   <%= scop.sid %><br />
    SCOP sunid: <%= scop.sunid %><br />
    SCOP sccs:  <%= scop.sccs  %><br />
    PDB Code:   <%= scop.structure.pdb_code %><br />
  </div>
</div>
