<div class="list">
  <div class="small_image">
    <a href="#big_image_<%= scop.sunid %>"><%= image_tag scop.local_image_link, :id => "list_figure", :border => 0 %></a>
  </div>
  <div id="big_image_<%= scop.sunid %>">
    <%= image_tag scop.local_image_link %><br />
    <%= scop.sid %>, <%= scop.description %>
  </div>
  <div class="list_title blue_link">
    <%= link_to "#{scop.scop_protein.description}, #{scop.description}", scop_path(scop) %>
  </div>
  <div class="list_content blue_link">
    SCOP sid:   <%= scop.sid %><br />
    SCOP sunid: <%= scop.sunid %><br />
    SCOP sccs:  <%= scop.sccs  %><br />
    PDB Code:   <%= scop.structure.pdb_code %><br />
  </div>
</div>
