<tr>
  <td><%= scop.hierarchy %></td>
  <td><%= link_to scop.sunid, scop_url(scop) %></td>
  <td><%= scop.sccs %></td>
  <td><%= scop.sid %></td>
  <td style="text-align: left"><%= scop.description %></td>
</tr>
