<div class="main_title blue_link">
  Browse: SCOP Domains in <%= link_to @scop.description, @scop.html_sunid_link, :popup => true %> <%= @scop.hierarchy %>
</div>

<%= will_paginate @doms %>

<%= render :partial => "scop", :collection => @doms, :spacer_template => "/shared/list_spacer" %>

<%= will_paginate @doms %>
