<div class="main_title">
  <%= @scop.hierarchy %>: <%= @scop.description %>
</div>

<div id="below_tab_menu">
  <% if @scop.ancestors.rpall.size > 0 %>
    <%= render :partial => "/scops/relative", :collection => @scop.ancestors.rpall %>
  <% end %>

  <div class="current_hierarchy">
    <% @scop.level.times do %>
      &nbsp;&nbsp; 
    <% end %>

    &#45; <b><%= @scop.hierarchy %></b>: <%= link_to "#{@scop.description}", scop_path(@scop) %>
  </div>

  <% if @scop.level < 7 && @scop.children.rpall.size > 0 %>
    <%= render :partial => "/scops/relative", :collection => @scop.children.rpall %>
  <% end %>

  <% if @scop.siblings.size > 0 %>
    <%= render :partial => "/scops/relative", :collection => @scop.siblings.rpall %>
  <% end %>
</div>
