<% content_for :main_title do %>
  <div class="title">
    <%= @scop.hierarchy %>: <%= @scop.description %>
  </div>
<% end %>

<div id="tab_menu_container">
  <ul id="tab_menu">
    <li><a href="/scops/<%= @scop.id %>/hierarchy" class="current">Hierarchy</a></li>
    <li><a href="/scops/<%= @scop.id %>/summary">Summary</a></li>
    <li><a href="/scops/<%= @scop.id %>/propensities">Propensites</a></li>
    <li><a href="/scops/<%= @scop.id %>/frequencies">Frequencies</a></li>
    <li><a href="/scops/<%= @scop.id %>/alignments">Alignments</a></li>
    <li><a href="/scops/<%= @scop.id %>/interfaces">Interfaces</a></li>
  </ul>
</div>

<div id="below_tab_menu">
  <h3>> Ancestors</h3>
  <% if @scop.ancestors.size > 0 %>
    <%= render :partial => "/scops/relative", :collection => @scop.ancestors %>
  <% else %>
    N/A
  <% end %>
  <h3>> Children</h3>
  <% if @scop.children.size > 0 %>
    <%= render :partial => "/scops/relative", :collection => @scop.children %>
  <% else %>
    N/A
  <% end %>
  <h3>> Siblings</h3>
  <% if @scop.siblings.size > 0 %>
    <%= render :partial => "/scops/relative", :collection => @scop.siblings %>
  <% else %>
    N/A
  <% end %>
</div>
