<% content_for :main_title do %>
  <div class="title">
    <%= @scop.hierarchy %>: <%= @scop.description %>
  </div>
<% end %>

<div id="tab_menu_container">
  <ul id="tab_menu">
    <li><%= link_to "Hierarchy", hierarchy_scop_path(@scop), :class => "current" %></li>
    <li><%= link_to "Distributions", distributions_scop_path(@scop) %></li>
    <li><%= link_to "Propensites", propensities_scop_path(@scop) %></li>
    <li><%= link_to "Chi-square Test", chisquare_test_scop_path(@scop) %></li>
    <li><%= link_to "Alignments", scop_alignments_path(@scop) %></li>
    <li><%= link_to "Interfaces", scop_interfaces_path(@scop) %></li>
  </ul>
</div>

<div id="below_tab_menu">
  <h4>&sect; Ancestors</h4>
  <% if @scop.ancestors.size > 0 %>
    <%= render :partial => "/scops/relative", :collection => @scop.ancestors %>
  <% else %>
    <div class="relative">N/A</div>
  <% end %>
  <h4>&sect; Children</h4>
  <% if @scop.children.size > 0 %>
    <%= render :partial => "/scops/relative", :collection => @scop.children %>
  <% else %>
    <div class="relative">N/A</div>
  <% end %>
  <h4>&sect; Siblings</h4>
  <% if @scop.siblings.size > 0 %>
    <%= render :partial => "/scops/relative", :collection => @scop.siblings %>
  <% else %>
    <div class="relative">N/A</div>
  <% end %>
</div>
