<% content_for :main_title do %>
  <div class="title">
    Browse: SCOP
  </div>
  <div class="per_page_form">
    <% form_tag(scops_path, :method => "get", :class => "per_page_form") do %>
      <%= select_tag :per_page, options_for_select(%w{100 70 50 30 20 15 10}, @per_page) %> per page
      <%= submit_tag("Apply", :name => nil) %>
    <% end %>|
  </div>
  <div class="search_form">
    <% form_tag(search_scops_path, :method => "get", :class => "search_form") do %>
      <%= text_field_tag :query, nil, :size => 30 %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  </div>
<% end %>

<table class="stats">
  <thead>
    <tr>
      <th>
        <div class="sorter">
          <%= link_to "&and;", scops_url(:sort => "stype") %>
        </div>
        <div class="header">
          TYPE
        </div>
        <div class="sorter">
          <%= link_to "&or;", scops_url(:sort => "stype_reverse") %>
        </div>
      </th>
      <th>
        <div class="sorter">
          <%= link_to "&and;", scops_url(:sort => "sunid") %>
        </div>
        <div class="header">
          SUNID
        </div>
        <div class="sorter">
          <%= link_to "&or;", scops_url(:sort => "sunid_reverse") %>
        </div>
      </th>
      <th>
        <div class="sorter">
          <%= link_to "&and;", scops_url(:sort => "sccs") %>
        </div>
        <div class="header">
          SCCS
        </div>
        <div class="sorter">
          <%= link_to "&or;", scops_url(:sort => "sccs_reverse") %>
        </div>
      </th>
      <th>
        <div class="sorter">
          <%= link_to "&and;", scops_url(:sort => "sid") %>
        </div>
        <div class="header">
          SID
        </div>
        <div class="sorter">
          <%= link_to "&or;", scops_url(:sort => "sid_reverse") %>
        </div>
      </th>
      <th>
        <div class="sorter">
          <%= link_to "&and;", scops_url(:sort => "description") %>
        </div>
        <div class="header">
          Description
        </div>
        <div class="sorter">
          <%= link_to "&or;", scops_url(:sort => "description_reverse") %>
        </div>
      </th>
    </tr>
  </thead>
  <tbody id="table_body">
    <%= render :partial => "scop", :collection => @scops %>
  </tbody>
</table>
<%= will_paginate @scops %>
