<div class="main_title">
  Jmol view: <%= link_to @scop.sid, scop_path(@scop) %>
</div>

<div id="jmol">
  <applet code="<%= REL_URL_ROOT %>/javascripts/jmol/JmolAppletSigned.jar" width=500 height=500 align=center>
    <PARAM name="load" value="../../scop/<%= @scop.sunid %>.pdb">
    <PARAM name="java_code" value="JmolApplet">
    <PARAM name="java_archive" value="<%= REL_URL_ROOT %>/javascripts/jmol/JmolAppletSigned.jar">
    <PARAM name="type" value="application/x-java-applet;version=1.1">
    <PARAM name="script" value="select all; spacefill off; wireframe on; wireframe 40; select protein; color tan; select dna; color magenta; select rna; color deeppink; <%= @scop.interface_atoms.map {|a| 'select atomno=' + a.atom_code.to_s + '; spacefill 300; color cpk;'}.join %>">
    <PARAM name="progressbar" value="true">
    <PARAM name="progresscolor" value="blue">
    <PARAM name="boxmessage" value="Jmol applet is loading the selected PDB structure">
    <PARAM name="boxbgcolor" value="black">
    <PARAM name="boxfgcolor" value="white">
  </applet>
</div>
