<div class="main_title blue_link">
  SCOP Domain: <%= link_to @scop.sid, @scop.html_sunid_link %>
</div>

<table id="scop_table" class="bipa">
  <tr>
    <td class="title" rowspan=2>PDB</td>
    <td class="title">Title</td>
    <td><%= link_to @scop.structure.title, structure_path(@scop.structure) %></td>
    <td rowspan=10 style="width:280px" align="center">
      <a href="#big_image" id="big_image_link"><%= image_tag @scop.local_image_link, :width => 250, :border => 0 %></a><br />
      3D View: <%= link_to "Jmol", jmol_scop_path %>
    </td>
  </tr>
  <tr>
    <td class="title">Code</td>
    <td><%= link_to @scop.structure.pdb_code, @scop.structure.rcsb_html_link, :popup => true %></td>
  </tr>
  <tr>
    <td class="title" rowspan=6>SCOP<br />Classification</td>
    <td class="title">Class</td>
    <td><%= link_to @scop.scop_class.description, domains_scop_path(@scop.scop_class) %></td>
  </tr>
  <tr>
    <td class="title">Fold</td>
    <td><%= link_to @scop.scop_fold.description, domains_scop_path(@scop.scop_fold) %></td>
  </tr>
  <tr>
    <td class="title">Superfamily</td>
    <td><%= link_to @scop.scop_superfamily.description, domains_scop_path(@scop.scop_superfamily) %></td>
  </tr>
  <tr>
    <td class="title">Family</td>
    <td><%= link_to @scop.scop_family.description, domains_scop_path(@scop.scop_family) %></td>
  </tr>
  <tr>
    <td class="title">Protein</td>
    <td><%= link_to @scop.scop_protein.description, domains_scop_path(@scop.scop_protein) %></td>
  </tr>
  <tr>
    <td class="title">Species</td>
    <td><%= link_to @scop.scop_species.description, domains_scop_path(@scop.scop_species) %></td>
  </tr>
  <tr>
    <td class="title" rowspan=2>Interfaces</td>
    <td class="title">DNA</td>
    <td>
      <%= @scop.dna_interfaces.size > 0 ? link_to("DNA interface", interface_path(@scop.dna_interfaces.first)) : "N/A" %>
    </td>
  </tr>
  <tr>
    <td class="title">RNA</td>
    <td>
      <%= @scop.rna_interfaces.size > 0 ? link_to("RNA interface", interface_path(@scop.rna_interfaces.first)) : "N/A" %>
    </td>
  </tr>
  <tr>
    <td class="title" rowspan=<%= @scop.dna_interfaces.size + @scop.rna_interfaces.size + 4 %>>Structural Alignments</td>
    <th colspan=3>Subfamily Alignment (PID &gt; 80)</th>
  </tr>
  <% if @scop.dna_interfaces.size > 0 %>
    <tr>
      <td class="title">DNA<br />Binding</th> 
      <td colspan=4 class="alignment">
        <% if @scop.nr80_dna_subfamily && @scop.nr80_dna_subfamily.alignment %>
          <div class="alignment">
            <%= @scop.nr80_dna_subfamily.alignment.ruler_with_margin %>
            <%= render :partial => "/alignments/sequence",
              :collection => @scop.nr80_dna_subfamily.alignment.sequences,
              :locals => { :myself => @scop.sid, :representative => @scop.nr80_dna_subfamily.representative.sid } %>
          </div>
        <% else %>
          N/A [<%= link_to "?", "#dna_sub_alignment_na_box", :id => "dna_sub_alignment_na_box_link" %>]<br />
          <div id="dna_sub_alignment_na_box">
            A subfamily alignment is generated from domain structures in the subfamily that is created using a certain level of percentage identity (PID) cutoff (80 for BIPA) for each SCOP family. However, in some cases, there is only one domain structure for the subfamily, so it is impossible to generate a subfamily alignment in that situtation.
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if @scop.rna_interfaces.size > 0 %>
    <tr>
      <td class="title">RNA<br />Binding</td> 
      <td colspan=4 class="alignment">
        <% if @scop.nr80_rna_subfamily && @scop.nr80_rna_subfamily.alignment %>
          <div class="alignment">
            <%= @scop.nr80_rna_subfamily.alignment.ruler_with_margin %>
            <%= render :partial => "/alignments/sequence",
              :collection => @scop.nr80_rna_subfamily.alignment.sequences,
              :locals => { :myself => @scop.sid, :representative => @scop.nr80_rna_subfamily.representative.sid } %>
          </div>
        <% else %>
          N/A [<%= link_to "?", "#rna_sub_alignment_na_box", :id => "rna_sub_alignment_na_box_link" %>]<br />
          <div id="rna_sub_alignment_na_box">
            A subfamily alignment is generated from domain structures in the subfamily that is created using a certain level of percentage identity (PID) cutoff (80 for BIPA) for each SCOP family. However, in some cases, there is only one domain structure for the subfamily, so it is impossible to generate a subfamily alignment in that situtation.
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <th colspan=3>Representative Family (<%= link_to @scop.scop_family.description, scop_path(@scop.scop_family) %>) Alignment (PID &lt; 80)</th>
  </tr>
  <% if @scop.dna_interfaces.size > 0 %>
    <tr>
      <td class="title">DNA<br />Binding</td> 
      <td colspan=4 class="alignment">
        <% if @scop.scop_family.nr80_dna_alignment %>
          <div class="alignment">
            <%= @scop.scop_family.nr80_dna_alignment.ruler_with_margin %>
            <%= render  :partial => "/alignments/sequence",
              :collection => @scop.scop_family.nr80_dna_alignment.sequences,
              :locals => { :myself => @scop.sid, :representative => @scop.nr80_dna_subfamily.representative.sid } %>
          </div>
        <% else %>
          N/A [<%= link_to "?", "#dna_rep_alignment_na_box", :id => "dna_rep_alignment_na_box_link" %>]<br />
          <div id="dna_rep_alignment_na_box">
            A representatitive family alignment is generated from a representative set of domain structures from subfamilies that is created using a certain level of percentage identity (PID) cutoff (80 for BIPA) for each SCOP family. However, in some cases, there is only one representative structure (or subfamily) for the family, so it is impossible to generate a representative family alignment in that situtation.
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if @scop.rna_interfaces.size > 0 %>
    <tr>
      <td class="title">RNA<br />Binding</td> 
      <td colspan=4 class="alignment">
        <% if @scop.scop_family.nr80_rna_alignment %>
          <div class="alignment">
            <%= @scop.scop_family.nr80_rna_alignment.ruler_with_margin %>
            <%= render  :partial => "/alignments/sequence",
              :collection => @scop.scop_family.nr80_rna_alignment.sequences,
              :locals => { :myself => @scop.sid, :representative => @scop.nr80_rna_subfamily.representative.sid } %>
          </div>
        <% else %>
          N/A [<%= link_to "?", "#rna_rep_alignment_na_box", :id => "rna_rep_alignment_na_box_link" %>]<br />
          <div id="rna_rep_alignment_na_box">
            A representatitive family alignment is generated from a representative set of domain structures from subfamilies that is created using a certain level of percentage identity (PID) cutoff (80 for BIPA) for each SCOP family. However, in some cases, there is only one representative structure (or subfamily) for the family, so it is impossible to generate a representative family alignment in that situtation.
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan=5>
      <table class="joy_annotation" align="center">
        <tr>
          <td><b>Key for HTML output</b></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>self</td>
          <td><span class="self">bold</span></td>
          <td><span class="self">self</span></td>
        </tr>
        <tr>
          <td>representative</td>
          <td><span class="representative">yellow background</span></td>
          <td><span class="representative">representative</span></td>
        </tr>
        <tr>
          <td>alpha helix</td>
          <td><span class="helix">red</span></td>
          <td><span class="helix">x</span></td>
        </tr>
        <tr>
          <td>beta sheet</td>
          <td><span class="beta_sheet">blue</span></td>
          <td><span class="beta_sheet">x</span></td>
        </tr>
        <tr>
          <td>positive phi</td>
          <td><span class="positive_phi">italic</span></td>
          <td><span class="positive_phi">x</span></td>
        </tr>
        <tr>
          <td>solvent accessible</td>
          <td><span class="on_surface">upper case</span></td>
          <td><span class="on_surface">x</span></td>
        </tr>
        <tr>
          <td>solvent inaccessible</td>
          <td><span class="buried">lower case</span></td>
          <td><span class="buried">x</span></td>
        </tr>
        <tr>
          <td>disulfide bond</td>
          <td><span class="disulfide">cedilla</span></td>
          <td><span class="disulfide">&ccedil;</span></td>
        </tr>
        <tr>
          <td>hydrogen bond to DNA</td>
          <td><span class="hbonding_dna">orange background &amp; bold</span></td>
          <td><span class="hbonding_dna">x</span></td>
        </tr>
        <tr>
          <td>water-mediated hydrogen bond to DNA</td>
          <td><span class="whbonding_dna">orange background &amp; overline</span></td>
          <td><span class="whbonding_dna">x</span></td>
        </tr>
        <tr>
          <td>van der Waals contact to DNA</td>
          <td><span class="vdw_contacting_dna">orange background &amp; underline</span></td>
          <td><span class="vdw_contacting_dna">x</span></td>
        </tr>
        <tr>
          <td>hydrogen bond to RNA</td>
          <td><span class="hbonding_rna">cyan background &amp; bold</span></td>
          <td><span class="hbonding_rna">x</span></td>
        </tr>
        <tr>
          <td>water-mediated hydrogen bond to RNA</td>
          <td><span class="whbonding_rna">cyan background &amp; overline</span></td>
          <td><span class="whbonding_rna">x</span></td>
        </tr>
        <tr>
          <td>van der Waals contact to RNA</td>
          <td><span class="vdw_contacting_rna">cyan background &amp; underline</span></td>
          <td><span class="vdw_contacting_rna">x</span></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div id="big_image" class="zoomed">
  <%= image_tag @scop.local_image_link %><br />
</div>
