<tr>
  <td><%= interface.pdb_code %></td>
  <td><%= interface.sid %></td>
  <td><%= "%.2f" % interface.resolution || "N/A" %></td>
  <td><%= interface.na_type %></td>
  <td><%= "%.2f" % interface.asa %></td>
  <td><%= interface.residues_count %></td>
  <td><%= interface.atoms_count %></td>
  <td><%= interface.contacts_count %></td>
  <td><%= interface.hbonds_count %></td>
  <td><%= interface.whbonds_count %></td>
</tr>
