<div class="list">
  <div class="list_title">
    <%= link_to "#{interface.description} (#{interface.na_type})", scop_interface_path(@scop, interface) %>
  </div>
  <div class="list_content">
    Resolution: <%= interface.resolution || "N/A" %><br />
    ASA (&Aring;): <%= "%.2f" % interface.asa %><br />
    No. of Residues: <%= interface.residues_count %><br />
    No. of Atoms: <%= interface.atoms_count %><br />
    No. of van der Waals contacts: <%= interface.contacts_count %><br />
    No. of Hydrogen bonds: <%= interface.hbonds_count %><br />
    No. of Water-mediated hydrogen bonds: <%= interface.whbonds_count %><br />
  </div>
</div>
