<% content_for :main_title do %> 
  <div class="title">
    Browse: Interfaces
  </div>
<% end %>

<div id="tab_menu_container">
  <ul id="tab_menu">
    <li><%= link_to "Hierarchy", hierarchy_scop_path(@scop) %></li>
    <li><%= link_to "Distributions", distributions_scop_path(@scop) %></li>
    <li><%= link_to "Propensites", propensities_scop_path(@scop) %></li>
    <li><%= link_to "Chi-square Test", chisquare_test_scop_path(@scop) %></li>
    <li><%= link_to "Alignments", alignments_scop_path(@scop) %></li>
    <li><%= link_to "Interfaces", scop_interfaces_path(@scop), :class => "current" %></li>
  </ul>
</div>

<div id="below_tab_menu">
  <table class="stats">
    <thead>
      <tr>
        <th> PDB </th>
        <th> SCOP<br />sunid </th>
        <th> Resolution </th>
        <th> Binding </th>
        <th> ASA(&Aring;<sup>2</sup>) </th>
        <th> No. of<br />residues </th>
        <th> No. of<br />atoms </th>
        <th> No. of<br />van der Waals<br />contacts </th>
        <th> No. of<br />hydrogen bonds </th>
        <th> No. of<br />water-mediated<br />hydrogen bonds </th>
      </tr>
    </thead>
    <tbody id="table_body">
      <%= render :partial => "interface", :collection => @interfaces %>
    </tbody>
  </table>

  <small>* As a matter of convenience, 999.0 &Aring;<sup>2</sup> was assinged to the structures solved by certain types of experiments (e.g. NMR), which doesn't give you a fixed resolution.</small>
</div>
