<% content_for :main_title do %> 
  <div class="title">
    <%= @scop.hierarchy %>: <%= @scop.description %>
  </div>
<% end %>

<div id="tab_menu_container">
  <ul id="tab_menu">
    <li><%= link_to "Hierarchy", hierarchy_scop_path(@scop) %></li>
    <li><%= link_to "Distributions", distributions_scop_path(@scop) %></li>
    <li><%= link_to "Propensites", propensities_scop_path(@scop) %></li>
    <li><%= link_to "Chi-square Test", chisquare_test_scop_path(@scop) %></li>
    <li><%= link_to "Alignments", scop_alignments_path(@scop) %></li>
    <li><%= link_to "Interfaces", scop_interfaces_path(@scop), :class => "current" %></li>
  </ul>
</div>

<div id="below_tab_menu">
  <% if @interfaces.size > 0 %>
    <%= render :partial => "interface", :collection => @interfaces, :spacer_template => "/shared/list_spacer" %>
  <% else %>
    No interfaces
  <% end %>
</div>
