<div class="main_title blue_link">
  <%= @interface.class.to_s.match(/DNA/i) ? "DNA" : "RNA" %> Interface of SCOP domain, <%= link_to @interface.domain.sid, scop_path(@interface.domain) %>
</div>

<table id="interface_table" class="bipa">
  <tr>
    <th colspan=12>Interface Features</th>
  </tr>
  <tr>
    <td colspan=4 class="title">ASA</td>
    <td colspan=2 class="cell_number"><%=h "%.2f" % @interface[:asa] %> &Aring;</td>
    <td colspan=2 rowspan=8 class="title">
      SSE Composition [<%= link_to "?", "#sse_box", :id => "sse_box_link" %>]<br />
    </td>
    <td colspan=4 rowspan=4 align="center">
      <%= image_tag @interface.sse_percentage_google_chart_url %>
    </td>
  </tr>
    <td colspan=4 class="title">% of ASA</td>
    <td colspan=2 class="cell_number"><%=h "%.2f" % @interface[:percent_asa] %></td>
  </tr>
  <tr>
    <td colspan=4 class="title">Polarity</td>
    <td colspan=2 class="cell_number"><%=h "%.2f" % @interface[:polarity] %></td>
  </tr>
  <tr>
    <td colspan=4 class="title">No. of Residues</td>
    <td colspan=2 class="cell_number"><%=h @interface[:residues_count] %></td>
  </tr>
  <tr>
    <td colspan=4 class="title">No. of Atoms</td>
    <td colspan=2 class="cell_number"><%=h @interface[:atoms_count] %></td>
    <td colspan=4 rowspan=4 align="center">
      <%= image_tag @interface.sse_propensity_google_chart_url %>
    </td>
  </tr>
  <tr>
    <td colspan=4 class="title">No. of Hydrogen Bond</td>
    <td colspan=2 class="cell_number"><%=h @interface[:hbonds_count] %></td>
  </tr>
  <tr>
    <td colspan=4 class="title">No. of Water-mediated Hydrogen Bond</td>
    <td colspan=2 class="cell_number"><%=h @interface[:whbonds_count] %></td>
  </tr>
  <tr>
    <td colspan=4 class="title">No. of van der Waals Contact</td>
    <td colspan=2 class="cell_number"><%=h @interface[:vdw_contacts_count] %></td>
  </tr>
  <tr>
    <td colspan=4 rowspan=2 class="title">Residue Composition</td>
    <td colspan=8 align="center">
      <%= image_tag @interface.residue_percentage_google_chart_url %>
    </td>
  </tr>
  <tr>
    <td colspan=8 align="center">
      <%= image_tag @interface.residue_propensity_google_chart_url %>
    </td>
  </tr>
  <tr>
    <td colspan=12 align="center" class="title">
      <%= @interface[:type].match(/DNA/i) ? "DNA" : "RNA" %>-Binding Residues
    </td>
  </tr>
  <tr>
    <th>Chain ID</th>
    <th>Residue Number</th>
    <th>Residue Name</th>
    <th>SSE</th>
    <th>&Delta;ASA</th>
    <th>No. of Hydrogen Bond</th>
    <th>No. of Water-mediated Hydrogen Bond</th>
    <th>No. of van der Waals contact</th>
    <th>nsSNP</th>
    <th colspan=3>UniProt Features</th>
  </tr>
  <% @interface.residues.each do |res| %>
    <tr>
      <td class="cell_text">  <%= res.chain.chain_code %></td>
      <td class="cell_number"><%= res.residue_code %></td>
      <td class="cell_text">  <%= res.residue_name%></td>
      <td class="cell_text">  <%= res.dssp.andand.sse %></td>
      <td class="cell_number"><%= "%.2f" % res.delta_asa %></td>
      <td class="cell_number"><%= res.hbonds_as_donor.size + res.hbonds_as_acceptor.size %></td>
      <td class="cell_number"><%= res.whbonds.size %></td>
      <td class="cell_number"><%= res.vdw_contacts.size %></td>
      <td class="cell_text">
        <% if res.nssnps.size > 0 %>
          <% res.nssnps.each do |nssnp| %>
            <%= link_to nssnp.variation_name, nssnp.dbsnp_url, :popup => true %><br />
          <% end %>
        <% else %>
          N/A
        <% end %>
      </td>
      <td class="cell_text" colspan=3>
        <% if res.uniprot_features.size > 0 %>
          <% res.uniprot_features.each do |unif| %>
            <%= link_to unif.feature_type_value, unif.uniprot_url, :popup => true %><br />
          <% end %>
        <% else %>
          N/A
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td colspan=12 align="center" class="title">
      Similar Interfaces in Shape [<%= link_to "?", "#similar_interfaces_box", :id => "similar_interfaces_box_link" %>]<br />
      <div id="similar_interfaces_box">
        Similarities among nucleic acid-binding interfaces were measured using Ultrafast Shape Recognition (USR) method. Please see <a href="http://www.ncbi.nlm.nih.gov/pubmed/17342716">Ballester and Richard, 2007</a> for details.
      </div>
    </td>
  </tr>
  <tr>
    <th class="title">USR Score</th>
    <th class="title">Interface to</th>
    <th class="title" colspan=2>SCOP domain</th>
    <th class="title">ASA</th>
    <th class="title">% of ASA</th>
    <th class="title">Polarity</th>
    <th class="title">No. of Atoms</th>
    <th class="title">No. of Residues</th>
    <th class="title">No. of Hydrogen Bonds</th>
    <th class="title">No. of Water-mediated Hydrogen Bonds</th>
    <th class="title">No. of van der Waals contacts</th>
  </tr>
  <% if @similar_interfaces.size > 0 %>
    <% @similar_interfaces.each do |int| %>
      <tr>
        <td class="cell_number"><%= "%.2f" % Interface.usr_score_between(@interface, int) %></td>
        <td class="cell_text"><%= link_to int.interface_to, interface_path(int) %></td>
        <td class="cell_text" colspan=2><%= link_to int.domain.sid, scop_path(int.domain.id) %></td>
        <td class="cell_number"><%= "%.2f" % int[:asa] %></td>
        <td class="cell_number"><%= "%.2f" % int[:percent_asa] %></td>
        <td class="cell_number"><%= "%.2f" % int[:polarity] %></td>
        <td class="cell_number"><%= int[:residues_count] %></td>
        <td class="cell_number"><%= int[:atoms_count] %></td>
        <td class="cell_number"><%= int[:hbonds_count] %></td>
        <td class="cell_number"><%= int[:whbonds_count] %></td>
        <td class="cell_number"><%= int[:vdw_contacts_count] %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan=12 style="text-align:center;">
        N/A [<%= link_to "?", "#similar_interfaces_na_box", :id => "similar_interfaces_na_box_link" %>]<br />
        <div id="similar_interfaces_na_box">
          There is no interfaces having similar shapes in terms of Ultrafast Shape Recognition (USR) score (&gt; 0.5).
        </div>
      </td>
    </tr>
  <% end %>
</table>

<div id="sse_box">
  <div class="cell_text">
    H = alpha helix<br />
    B = residue in isolated beta-bridge<br />
    E = extended strand, participates in beta ladder<br />
    G = 3-helix (3/10 helix)<br />
    I = 5 helix (pi helix)<br />
    T = hydrogen bonded turn<br />
    S = bend<br /><br />
  </div>
  Please check <%= link_to "this page", "http://swift.cmbi.ru.nl/gv/dssp/", :popup => true %>, for more details.
</div>
