<div class="list">
  <div class="list_title">
    <b><%= alignment.family.hierarchy %></b>: <%= link_to alignment.family.description, scop_alignment_path(@scop, alignment) %>
  </div>
  <div class="list_content">
    SCOP sunid: <%= link_to "#{alignment.family.sunid}", scop_path(alignment.family) %>,
    Type: <%= alignment.class %>,
    Number of structures: <%= alignment.sequences_with_max_resolution(session[:resolution]).size %>,
    Number of columns: <%= alignment.columns.size %>

    <div id="show_<%= alignment.id %>" class="button">
      <%= link_to_remote  "Show alignment",
        :url => scop_alignment_path(@scop, alignment),
        :method => :get,
        :update => "alignment_#{alignment.id}",
        :complete => "Element.hide('show_#{alignment.id}');
                      Element.show('hide_#{alignment.id}');
                      Element.show('ruler_#{alignment.id}');
                      Effect.SlideDown('alignment_#{alignment.id}', { duration: 0.5 }); return false;" %>
    </div>
    <div id="hide_<%= alignment.id %>" class="button" style="display: none;">
      <a href="#" onclick="
        Element.hide('ruler_<%= alignment.id %>');
        Effect.SlideUp('alignment_<%= alignment.id %>', { duration: 0.5 });
        Element.hide('hide_<%= alignment.id %>');
        Element.show('show_<%= alignment.id %>');
        return false;">Hide alignment</a>
    </div>
  </div>
  <div class="alignment">
    <div id="ruler_<%= alignment.id %>" class="ruler" style="display: none;">
      <%= alignment.ruler_with_margin(19) %>
    </div>
    <div id="alignment_<%= alignment.id %>" class="sequence" style="display: none;"> 
    </div>
  </div>
</div>
