<tr>
  <td><%= alignment.family.sunid %></td>
  <td style="text-align: left"><%= alignment.family.description %></td>
  <td><%= alignment.class %></td>
  <td><%= alignment.sequences.size %></td>
  <td><%= alignment.columns.size %></td>
</tr>
