<!DOCTYPE HTML PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN"> 
<html>
  <head>
    <title>
      <%= @page_title || "Welcome to BIPA!" %>
    </title>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery-1.2.5.pack" %>

    <%= stylesheet_link_tag "bipa.css" %>
    <%= stylesheet_link_tag "will_paginate.css" %>

    <script type="text/javascript">
      var $j = jQuery.noConflict();
      $j(document).ready(function() {
        $j("#notice").fadeOut(6500);
      });
    </script>
  </head>

  <body>
    <%= content_tag("div", flash[:notice], :class => "notice", :id => "notice") if flash[:notice] %>

    <div id="header"> 
      <div id="main_banner">
        BIPA
      </div>

      <div id="sub_banner">
        : <u>B</u>iological database for <u>I</u>nteraction between <u>P</u>rotein and nucleic <u>A</u>cid
      </div>

      <%= image_tag("cambridge_logo.png", :id => "cambridge_logo", :size => "60x80", :alt => "University of Cambridge") %>

      <div id="header_menu">
        <%= link_to "Home", "/" %>
        |
        <%= link_to "Browse", scops_path %>
        |
        <div id="settings">
          <% form_tag({ :action => "set_redundancy_and_resolution" }, { :id => "settings_form" }) do %>
            Redundancy: <%= select_tag(:redundancy, options_for_select(%w{ all 100 90 80 70 60 50 40 30 20 10 }, session[:redundancy])) -%>
            ,
            Resolution &lt; <%= select_tag(:resolution, options_for_select(%w{ all 10 9 8 7 6 5 4 3 2 1 }, session[:resolution])) -%> &Aring;
            <%= submit_tag("Apply") -%>
          <% end %>
        </div>
        |
        <div class="search_form">
          <% form_tag(search_scops_path, :method => "get", :class => "search_form") do %>
            <%= text_field_tag :query, nil, :size => 20 %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="middler">
      <div id="main_container">
        <div id="main_title">
          <%= yield :main_title %>
        </div>
        <div id="main_content">
          <%= yield :layout %>
        </div>
      </div>
    </div>

    <div id="footer">
      &copy; 2008 Semin Lee, Blundell Group, Department of Biochemistry, University of Cambridge, UK
    </div>
  </body>
</html>
