<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"> 
<html>
  <head>
    <title><%= @page_title || "Welcome to BIPA!" %></title>
    <%= javascript_include_tag "jquery.ui/jquery-1.2.4b.js" %>
    <%= javascript_include_tag "jquery.ui/ui.core.js" %>
    <%= javascript_include_tag "jquery.ui/ui.accordion.js" %>
    <%= stylesheet_link_tag "bipa" %>
    <script>
      jQuery.noConflict()
      jQuery(document).ready(function(){
        jQuery('#browsers').accordion({
        });
      });
    </script>
  </head>

  <body>
    <div id="header"> 
      <div id="header_banner">
        BIPA
      </div>
      <div id="header_subbanner">
        : <u>B</u>iological database for <u>I</u>nteraction between 
        <u>P</u>rotein and nucleic <u>A</u>cid
      </div>
      <%= image_tag "cambridge_logo.gif",
        :id => "header_banner_logo",
        :size => "60x80",
        :alt => "University of Cambridge"
      %>
      <div id="header_menu">
        <%= link_to "Home",     '/home' %> |
        <%= link_to "Help",     '/help' %> |
        <%= link_to "Contact",  '/contact' %>
      </div>
    </div>

    <div id="header_separator">
    </div>

    <div id="left_border">
    </div>

    <div id="sidebar">
      <ul id="menu" class="menu">
        <li>
        Hi
        </li>
        <li>
        <ul id="browsers" class="browsers">
          <li>
          <a href='#' class="browser-header">SCOP</a>
          <div class="browser-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          </li>
          <li>
          <a href='#' class="browser-header">GO</a>
          <div class="browser-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          </li>
          <li>
          <a href='#' class="browser-header">ESST</a>
          <div class="browser-content">
            Hello.
          </div>
          </li>
        </ul>
        </li>
        <li>
        Hello
        </li>
      </ul>
    </div>

    <div id="main">
      <div id="main_content">
        <%= yield :layout %>
      </div>
      <%= image_tag(
        "spinner_spike.gif",
        :alt => "Loading ...",
        :border => 0,
        :id => "main_spinner",
        :size => "32x32",
        :style => "display: none;") %>
    </div>

    <div id="right_border">
    </div>

    <div id="footer_separator">
    </div>

    <div id="footer">
    </div>
  </body>
</html>
