<!DOCTYPE HTML PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN"> 
<html>
  <head>
    <title><%= @page_title || "Welcome to BIPA!" %></title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery.ui/jquery-1.2.4b.js" %>
    <%= javascript_include_tag "jquery.ui/ui.core.js" %>
    <%= javascript_include_tag "jquery.ui/ui.accordion.js" %>
    <%= javascript_include_tag "jquery-treeview/lib/jquery.cookie.js" %>
    <%= javascript_include_tag "jquery-treeview/jquery.treeview.js" %>
    <%= javascript_include_tag "jquery-treeview/jquery.treeview.edit.js" %>
    <%= javascript_include_tag "jquery-treeview/jquery.treeview.async.bipa.js" %>

    <%= stylesheet_link_tag "bipa.css" %>
    <%= stylesheet_link_tag "/javascripts/jquery-treeview/jquery.treeview.css" %>
    <script type="text/javascript">
      jQuery.noConflict();
      jQuery(document).ready(function(){
        jQuery('#accordion_container').accordion({
          header: 'div.accordion_title',
          active: false,
          alwaysOpen: false,
          autoHeight: false
        });
        jQuery("#scop_tree").treeview({
          alwaysOpen: true,
          url: "/scop/children"
        });
        jQuery("#go_tree").treeview({
          alwaysOpen: true,
          url: "/go/children"
        });
        jQuery("#taxonomy_tree").treeview({
          alwaysOpen: true,
          url: "/taxonomy/children"
        });
      });
    </script>
  </head>

  <body>
    <div id="header"> 
      <div id="banner">
        BIPA
      </div>
      <div id="subbanner">
        : <u>B</u>iological database for <u>I</u>nteraction between 
        <u>P</u>rotein and nucleic <u>A</u>cid
      </div>
      <%= image_tag "cambridge_logo.gif",
        :id => "banner_logo",
        :size => "60x80",
        :alt => "University of Cambridge"
      %>
      <div id="menu">
        <%= link_to "Home",     '/home' %> |
        <%= link_to "Help",     '/help' %> |
        <%= link_to "Contact",  '/contact' %>
      </div>
    </div>

    <div id="middler">
      <div id="sidebar">
        <div id="accordion_container">
          <div class="accordion_title">
            SCOP
          </div>
          <div class="accordion_content">
            <ul id="scop_tree">
            </ul>
          </div>
          <div class="accordion_title">
            GO
          </div>
          <div class="accordion_content">
            <ul id="go_tree">
            </ul>
          </div>
          <div class="accordion_title">
            TAXONOMY
          </div>
          <div class="accordion_content">
            <ul id="taxonomy_tree">
            </ul>
          </div>
        </div>
      </div>

      <div id="main_container">
        <div id="main_content">
        </div>
        <%= image_tag(
                "spinner_spike.gif",
                :alt => "Loading ...",
                :border => 0,
                :id => "main_spinner",
                :size => "32x32",
                :style => "display: none;")
        %>
      </div>
    </div>

    <!--    <div id="footer"> -->
    <!--      Footer!         -->
    <!--    </div>            -->
  </body>
</html>
