<!DOCTYPE HTML PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN"> 
<html>
  <head>
    <title>
      <%= @page_title || "Welcome to BIPA!" %>
    </title>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery-1.2.5.pack" %>
    <%= javascript_include_tag "jquery.livequery" %>
    <%= javascript_include_tag "jquery.ui/ui.core" %>
    <%= javascript_include_tag "jquery.ui/ui.accordion" %>
    <%= javascript_include_tag "jquery.ui/ui.tabs" %>
    <%= javascript_include_tag "jquery-treeview/lib/jquery.cookie" %>
    <%= javascript_include_tag "jquery-treeview/jquery.treeview" %>
    <%= javascript_include_tag "jquery-treeview/jquery.treeview.edit" %>
    <%= javascript_include_tag "jquery-treeview/jquery.treeview.async.bipa" %>
    <%= javascript_include_tag "rsh" %>

    <%= stylesheet_link_tag "bipa.css" %>
    <%= stylesheet_link_tag "will_paginate.css" %>
    <%= stylesheet_link_tag "flora/flora.tabs.css" %>
    <%= stylesheet_link_tag "/javascripts/jquery-treeview/jquery.treeview.css" %>

    <script type="text/javascript">
      window.dhtmlHistory.create({
        toJSON: function(o) {
          return Object.toJSON(o);
        },
        fromJSON: function(s) {
          return s.evalJSON();
        }
      });

      var yourListener = function(newLocation, historyData) {
        eval(historyData);
      }

      window.onload = function() {
        dhtmlHistory.initialize();
        dhtmlHistory.addListener(yourListener);
      }

      var $j = jQuery.noConflict();
      $j(document).ready(function() {
        $j("#accordion_container").accordion({
          header: "div.title",
          active: false,
          alwaysOpen: false,
          autoHeight: false
        });
        $j("#scop_tree").treeview({
          url: "/scop/children",
          collapsed: true,
          persist: "localtion",
          animated: "fast"
        });
        $j("#go_tree").treeview({
          url: "/go/children",
          animated: "fast"
        });
        $j("#taxonomy_tree").treeview({
          url: "/taxonomy/children",
          animated: "fast"
        });
        $j("#notice").fadeOut(7000);
        if ($j.cookie("sidebar") == "hide") {
            $j("#sidebar").css("display", "none");
            $j("#gap").css("left", "0px");
            $j("#gap_middle").html("&rsaquo;");
            $j("#main_container").css("left", "10px");
        } else {
            $j("#sidebar").css("display", "block");
            $j("#gap").css("left", "280px");
            $j("#gap_middle").html("&lsaquo;");
            $j("#main_container").css("left", "290px");
        }
        $j("#gap").click(function() {
          if ($j("#sidebar").css("display") == "block") {
            $j("#sidebar").css("display", "none");
            $j("#gap").css("left", "0px");
            $j("#gap_middle").html("&rsaquo;");
            $j("#main_container").css("left", "10px");
            $j.cookie("sidebar", "hide");
          } else {
            $j("#sidebar").css("display", "block");
            $j("#gap").css("left", "280px");
            $j("#gap_middle").html("&lsaquo;");
            $j("#main_container").css("left", "290px");
            $j.cookie("sidebar", "show");
          }
        });
      });
    </script>
  </head>

  <body>
    <%= content_tag("div", flash[:notice], :class => "notice", :id => "notice") if flash[:notice] %>

    <div id="header"> 
      <div id="main_banner">
        BIPA
      </div>

      <div id="sub_banner">
        : <u>B</u>iological database for <u>I</u>nteraction between <u>P</u>rotein and nucleic <u>A</u>cid
      </div>

      <%= image_tag("cambridge_logo.png", :id => "cambridge_logo", :size => "60x80", :alt => "University of Cambridge") %>

      <div id="header_menu">
        <%= link_to("Home", "/") %>
        |
        <!--<%= link_to("Browse", "/browse") %>
        |-->
        <div id="settings">
          <% form_tag({ :controller => "main", :action => "home" }, { :id => "settings_form" }) do %>
            NR: <%= select_tag(:redundancy, options_for_select(%w{all 100 90 80 70 60 50 40 30 20 10}, @redundancy)) -%>
            ,
            Resolution &lt; <%= text_field_tag(:resolution, @resolution || 100.0, :maxlength => 4, :size => 5) -%> &Aring;
            <%= submit_tag("Apply") -%>
          <% end %>
        </div>
        |
        <div id="search">
          <% form_tag({ :controller => "main", :action => "search" }, { :id => "search_form" }) do %>
            <%= select_tag(:classification, "<option selected=selected>SCOP</option> <option>GO</option> <option>TAXONOMY</option>") -%>
            <%= text_field_tag(:query) -%>
            <%= submit_tag("Search") -%>
          <% end %>
        </div>
        |
        <%= link_to("Help", "/help") %>
        |
        <%= link_to("Contact", "/contact") %>
      </div>
    </div>

    <div id="middler">
      <div id="sidebar">
        <div id="accordion_container">
          <div class="title">
            SCOP
          </div>
          <div class="content">
            <ul id="scop_tree">
            </ul>
          </div>
          <div class="title">
            GO
          </div>
          <div class="content">
            <ul id="go_tree">
            </ul>
          </div>
          <div class="title">
            TAXONOMY
          </div>
          <div class="content">
            <ul id="taxonomy_tree">
            </ul>
          </div>
        </div>
      </div>

      <div id="gap">
        <div id="gap_middle">
          &lsaquo; 
        </div>
      </div>

      <div id="main_container">
        <%= yield :layout %>
      </div>
    </div>

    <div id="footer">
      &copy; 2008 Semin Lee, Blundell Group, Department of Biochemistry, University of Cambridge, UK
    </div>
  </body>
</html>
