<!DOCTYPE HTML PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN"> 
<html>
  <head>
    <title><%= @page_title || "Welcome to BIPA!" %></title>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "jquery.ui/ui.core.js" %>
    <%= javascript_include_tag "jquery.ui/ui.accordion.js" %>
    <%= javascript_include_tag "jquery.ui/ui.tabs.js" %>
    <%= javascript_include_tag "jquery-treeview/lib/jquery.cookie.js" %>
    <%= javascript_include_tag "jquery-treeview/jquery.treeview.js" %>
    <%= javascript_include_tag "jquery-treeview/jquery.treeview.edit.js" %>
    <%= javascript_include_tag "jquery-treeview/jquery.treeview.async.bipa.js" %>

    <%= stylesheet_link_tag "bipa.css" %>
    <%= stylesheet_link_tag "flora/flora.tabs.css" %>
    <%= stylesheet_link_tag "/javascripts/jquery-treeview/jquery.treeview.css" %>

    <script type="text/javascript">
      var $j = jQuery.noConflict();
      $j(document).ready(function() {
        $j("#accordion_container").accordion({
          header: "div.title",
          active: "div.init",
          alwaysOpen: false,
          autoHeight: false
        });
        $j("#scop_tree").treeview({
          url: "/scop/children"
        });
        $j("#go_tree").treeview({
          url: "/go/children"
        });
        $j("#taxonomy_tree").treeview({
          url: "/taxonomy/children"
        });
        $j(".open_settings").click(function() {
          $j(".open_settings").hide();
          $j("#settings").show().css("display", "inline");
        });
        $j(".close_settings").click(function() {
          $j("#settings").hide();
          $j(".open_settings").show();
        });
        $j(".open_search").click(function() {
          $j(".open_search").hide();
          $j("#search").show().css("display", "inline");
        });
        $j(".close_search").click(function() {
          $j("#search").hide();
          $j(".open_search").show();
        });
        $j("#notice").fadeOut(4200);
      });
    </script>
  </head>

  <body>
    <%= content_tag("div",
                    flash[:notice],
                    :class => "notice",
                    :id => "notice") if flash[:notice] %>

    <div id="header"> 
      <div id="main_banner">
        BIPA
      </div>

      <div id="sub_banner">
        : <u>B</u>iological database for <u>I</u>nteraction between 
        <u>P</u>rotein and nucleic <u>A</u>cid
      </div>

      <%= image_tag("cambridge_logo.png",
                    :id => "cambridge_logo",
                    :size => "60x80",
                    :alt => "University of Cambridge") %>

      <div id="header_menu" style="display: inline">
        <%= link_to("Home", "/home") %>
        |
        <a href="#" class="open_settings">Settings</a>

        <div id="settings">
          <a href="#" class="close_settings">&raquo;</a>

          <% form_tag({ :controller => "main", :action => "home" },
                      { :id => "settings_form" }) do %>
            Redundancy:
            <%= select_tag(:redundancy, options_for_select(%w{all 100 90 80 70 60 50 40 30 20 10}, params[:redundancy])) -%>
            ,
            Resolution &lt;
            <%= text_field_tag(:resolution, params[:resolution] || 100.0,
                               :maxlength => 4,
                               :size => 5) -%> &Aring;
            <%= submit_tag("Apply") -%>
          <% end %>

          <a href="#" class="close_settings">&laquo;</a>
        </div>
        |
        <a href="#" class="open_search">Search</a>

        <div id="search">
          <a href="#" class="close_search">&raquo;</a>

          <% form_tag({ :controller => "search", :action => "new" }, { :id => "search_form" }) do %>
            <%= select_tag(:model, "
            <option selected=selected>SCOP</option>
            <option>GO</option>
            <option>Taxonomy</option>
            <option>Interfaces</option>
            ") -%>
            <%= text_field_tag(:query) -%>
            <%= submit_tag("Search") -%>
          <% end %>

          <a href="#" class="close_search">&laquo;</a>
        </div>
        |
        <%= link_to("Help", "/help") %>
        |
        <%= link_to("Contact", "/contact") %>
      </div>
    </div>

    <div id="middler">
      <div id="sidebar" class="rounded">
        <div id="accordion_container">
          <div class="title init">
            SCOP
          </div>
          <div class="content">
            <ul id="scop_tree">
            </ul>
          </div>
          <div class="title">
            GO
          </div>
          <div class="content">
            <ul id="go_tree">
            </ul>
          </div>
          <div class="title">
            TAXONOMY
          </div>
          <div class="content">
            <ul id="taxonomy_tree">
            </ul>
          </div>
        </div>
      </div>

      <div id="main_container" class="rounded">
        <div id="main_content">
          <%= yield :layout %>
        </div>
        <%= image_tag(
                "spinner_spike.gif",
                :alt => "Loading ...",
                :border => 0,
                :id => "main_spinner",
                :style => "display: none;")
        %>
      </div>
    </div>

    <div id="footer">
      &copy; 2008 Semin Lee, Blundell Group, Department of Biochemistry, University of Cambridge, UK
    </div>
  </body>
</html>
