<!DOCTYPE HTML PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN"> 
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>
      <%= @page_title || "Welcome to BIPA!" %>
    </title>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "jquery-1.2.6.min" %>
    <%= javascript_include_tag "jquery.corner" %>
    <%= javascript_include_tag "superfish" %>
    <%= javascript_include_tag "fancyzoom" %>
    <%= javascript_include_tag "jmol/Jmol" %>

    <%= stylesheet_link_tag "bipa" %>
    <%= stylesheet_link_tag "will_paginate" %>
    <%= stylesheet_link_tag "superfish" %>

    <script type="text/javascript">
      var $j = jQuery.noConflict();
      $j(document).ready(function() {
        $j("ul.sf-menu").superfish();
      });
    
      FancyZoomBox.directory = '/images';
      $(document).observe('dom:loaded', function() {
        $$("div.small_image a").each(function(el) { new FancyZoom(el); })
        new FancyZoom('abstract_link', {width:600, height:300});
        new FancyZoom('big_image_link', {width:410, height:420});
        new FancyZoom('scop_na_box_link', {width:500, height:50});
        new FancyZoom('dna_rep_alignment_na_box_link', {width:500, height:100});
        new FancyZoom('rna_rep_alignment_na_box_link', {width:500, height:100});
        new FancyZoom('dna_sub_alignment_na_box_link', {width:500, height:100});
        new FancyZoom('rna_sub_alignment_na_box_link', {width:500, height:100});
        new FancyZoom('search_against_box_link', {width:500, height:150});
        new FancyZoom('zcutoff_box_link', {width:500, height:60});
        new FancyZoom('email_box_link', {width:600, height:400});
      });
    </script>
  </head>

  <body>
    <div id="wrapper">
      <div id="header"> 
        <ul id="header_menu" class="sf-menu">
          <li class="current">
            <%= link_to "Home", "/" %>
          </li>
          <li>
            <%= link_to "News", "/news" %>
          </li>
          <li>
            <%= link_to "Browse", "#" %>
            <ul>
              <li>
                <%= link_to "PDB", structures_path %>
              </li>
              <li>
                <%= link_to "SCOP", scops_path %>
              </li>
            </ul>
          </li>
          <li>
            <%= link_to "Statistics", "/statistics" %>
          </li>
          <li>
            <%= link_to "Search", new_interface_search_path %>
          </li>
          <li>
            <%= link_to "References", "/references" %>
          </li>
          <li>
            <%= link_to "Contact", "/contact" %>
          </li>
        </ul>
        <div id="header_search">
          <% form_tag("/search", :method => "get", :class => "search_form") do %>
            <%= select_tag(:search_model, options_for_select(%w[ PDB SCOP ])) %>
            <%= text_field_tag :query, nil, :size => 20 %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        </div>
        <div id="main_logo">
          <%= link_to(image_tag("bipa_logo.png", :size => "40x70", :border => 0), "/") %>
        </div>
        <div id="main_banner">
          BIPA
        </div>
        <div id="sub_banner">
          : <u>B</u>iological database for <u>I</u>nteraction between <u>P</u>rotein and nucleic <u>A</u>cid
        </div>
      </div>

      <div id="middler">
        <%= content_tag("div", flash[:notice], :class => "notice", :id => "notice") if flash[:notice] %>
        <%= yield :layout %>
      </div>

      <div id="footer" class="black_link">
        &copy; 2008 <%= link_to "Semin Lee", "/contact" %>, <%= link_to "Blundell Group", "http://www-cryst.bioc.cam.ac.uk" %>, <%= link_to "Department of Biochemistry", "http://www.bioc.cam.ac.uk" %>, <%= link_to "University of Cambridge", "http://www.cam.ac.uk" %>, UK
      </div>
    </div>
  </body>
</html>
